*{
    margin: 0;
    padding: 0;
}
#H1{
    background-color: #000;
    padding: 1%;
    margin: 1%;
}
h1{
    color: white;
}
span{
    color: aqua;
}
#H2{
    text-align: center;
    background-color: blueviolet;
    padding: 1%;
    margin: 1%;
}
h2{
    color: white;
    font-style: italic;
}
#H3{
    text-align: right;
    background-color: aquamarine;
    padding: 1%;
    margin: 1%;
}
h3{
    text-decoration: un;
}